{% extends "shopapp/base.html" %}

{% block title %}
    Orders list
{% endblock %}

{% block body %}
    <h1>Orders:</h1>
    <div>
        {% if object_list %}
            {% for order in object_list %}
                <div>
                    <p><a href="{% url 'shopapp:order_details' pk=order.pk %}">
                        Details #{{ order.pk }}</a></p>
                    <p>Order by {% firstof order.user.first_name order.user.username %}</p>
                    <p>Promocode: <code>{{ order.promocode }}</code></p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                </div>
                    Product in order:
                    <ul>
                    {% for product in order.products.all %}
                        <li>{{ product.name }} for $ {{ product.price }}</li>
                    {% endfor %}
                    </ul>
                    <br>
            {% endfor %}

        {% else %}
            <h3>No object_list yet</h3>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'shopapp:order_create' %}">
            << Back to make order
        </a>
    </div>
{% endblock %}