{% extends "shopapp/base.html" %}

{% block title %}
    Order #{{ object.pk }} details
{% endblock %}

{% block body %}
<h1>Order #{{ object.pk }}</h1>
<div>
    <br>
    <p>Order by {% firstof object.user.first_name object.user.username %}</p>
    <p>Promocode: <code>{{ object.promocode }}</code></p>
    <p>Delivery address: {{ object.delivery_address }}</p>
</div>
Product in order:
<ul>
    {% for product in object.products.all %}
    <li><a href="{% url 'shopapp:product_details' pk=product.pk %}" target="_blank"
        >{{ product.name }} for $ {{ product.price }}</a></li>

    {% endfor %}
</ul>
<div>
    <p><a href="{% url 'shopapp:orders_list' %}" target="_self" >Back to orders</a></p>
</div>
<div>
    <p><a href="{% url 'shopapp:order_update' pk=object.pk%}" target="_self" >Update order</a></p>
</div>
<div>
    <a href="{% url 'shopapp:order_delete' pk=object.pk%}" target="_self" >Delete order</a>
</div>
{% endblock %}
