{% extends 'shopapp/base.html' %}

{% block title %}
    Shop Index
{% endblock %}

{% block body %}
    <h1 align="center">
        {{ header | title }}
    </h1>

    <div>
        <ul>
            {% for name, price in products reversed %}
                <li><h3>{{ name }} for ${{ price }}</h3></li>
            {% empty %}
                No products here.
            {% endfor %}
        </ul>
    </div>

    <div>
        <h4>Time running: {{ time_running }}</h4>
    </div>

    <div>
        {% filter force_escape|upper %}
            This text will be HTML-escaped, and will appear in all uppercase.
        {% endfilter %}
    </div>

    <div>
        <h4 align="left" style="color:#5c6994; font-size: 20px">{% lorem 2 p random %}</h4>
    </div>

{% endblock %}