{% extends 'myauth/base.html' %}

{% block title %}
Users list
{% endblock %}
{% block body %}
<h1>Users:</h1>
{% if users %}
<div>
    {% for user in users %}
    <div>
        <p><h3>Name: <a href="{% url 'myauth:user_details' pk=user.pk %}">{% firstof user.first_name user.username %}</a></h3></p>
        <p><h3>Username: {{ user.username }}</h3></p>
        <p><h3>Email address: {{ user.email}}</h3></p>
        <p><h3>Bio: {{ user.profile.bio }}</h3></p>
        {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url}}" alt="{{ user.profile.avatar.name }}">
        <br>
        <br>
        {% else %}
        The user did not set an avatar
        <br>
        <br>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<h3>No user yet</h3>
{% endif %}
{% endblock %}