{% extends "blogapp/base.html" %}
{% load i18n %}

{% block title %}
    Article #{{ object.pk }}
{% endblock %}

{% block body %}
<h1> {% translate 'Article' %}:</h1>
    <div>
        <h2>{% translate 'Title' %}: {{ article.title }}</h2>
        <h3>{% translate 'Content' %}:<br> {{ article.content }}...</h3>
        <p>{% translate 'Pub_date' %}: {{ article.pub_date }}</p>
        <p>{% translate 'Author' %}: {{article.author.name }}</p>
        <p>{% translate 'Category' %}: {{ article.category.name }}</p>
        <p>{% translate 'Tags' %}:
            {% for tag in article.tags.all %}
                {{ tag.name }}
            {% endfor %}
        </p>
        <p>
        <a href="{% url 'blogapp:articles' %}"><< Back to articles list</a>
        </p>
    </div>
{% endblock %}